<header>
  <!-- https://mdbootstrap.com/docs/jquery/navigation/navbar/ -->
  <nav class="navbar navbar-expand-lg navbar-light default-color">
    <a class="navbar-brand" href="#">WebApps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/course">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/instructor">Instructors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/section">Sections</a>
        </li>
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About Us
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <li><a class="dropdown-item" href="https://prudhvi15.github.io/p2-site/">Venkat Prudhvi Dommaraju</a></li>
             <li><a class="dropdown-item" href="https://bhavya-123.github.io/p2/">Bhavya Deepthi Gorrepati</a></li>
            <li><a class="dropdown-item" href="https://raghunandankumar.github.io/P2-site/">Raghunandan Kumar Naishadam</a></li>
            <li><a class="dropdown-item" href="https://hareeshbhuma.github.io/Bhuma-app/index.html">Venkata Hareesh Bhuma</a></li>
          </ul>
           </li>

      </ul>
    </div>
  </nav>
</header>