<main class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br />
      <h1>Web App Developers - Fall 2019</h1>

      <hr>

      <!-- <h1 class="text-center">COMING SOON!</h1> -->
      <div class=row>
        <h3>During Development, test api here.</h3>
      </div>
      <hr>
    </div>
    <div class=row>
      <div class="col col-md-3">
        <h5>Instructor: Test GET JSON by URL</h5>
        <ol>
          <li> <a href="https://mvc-app-group07.herokuapp.com/instructor/findall">https://mvc-app-group07.herokuapp.com/instructor/findall</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/instructor/findone/8">https://mvc-app-group07.herokuapp.com/instructor/findone/8</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/instructor/findone/7">https://mvc-app-group07.herokuapp.com/instructor/findone/7</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/instructor/findone/9">https://mvc-app-group07.herokuapp.com/instructor/findone/9</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/instructor/findone/10">https://mvc-app-group07.herokuapp.com/instructor/findone/10</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/newpage">https://mvc-app-group07.herokuapp.com/newpage</a>
          </li>
        </ol>
      </div>
      <br>
      <div class="col col-md-3">
        <h5>Course: Test GET JSON by URL</h5>
        <ol>
          <li> <a href="https://mvc-app-group07.herokuapp.com/course/findall">https://mvc-app-group07.herokuapp.com/course/findall</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/course/findone/18">https://mvc-app-group07.herokuapp.com/course/findone/18</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/course/findone/17">https://mvc-app-group07.herokuapp.com/course/findone/17</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/course/findone/16">https://mvc-app-group07.herokuapp.com/course/findone/16</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/course/findone/11">https://mvc-app-group07.herokuapp.com/course/findone/11</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/newpage">https://mvc-app-group07.herokuapp.com/newpage</a>
          </li>
        </ol>
        <br>
      </div>
      <div class="col col-md-3">
        <h5>Student: Test GET JSON by URL</h5>
        <ol>
          <li> <a href="https://mvc-app-group07.herokuapp.com/student/findall">https://mvc-app-group07.herokuapp.com/student/findall</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/student/findone/91">https://mvc-app-group07.herokuapp.com/student/findone/91</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/student/findone/92">https://mvc-app-group07.herokuapp.com/student/findone/92</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/student/findone/93">https://mvc-app-group07.herokuapp.com/student/findone/93</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/student/findone/95">https://mvc-app-group07.herokuapp.com/student/findone/95</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/newpage">https://mvc-app-group07.herokuapp.com/newpage</a>
          </li>
        </ol>
        <br>

      </div>
      <div class="col col-md-3">


        <h5>Section: Test GET JSON by URL</h5>
        <ol>
          <li> <a href="https://mvc-app-group07.herokuapp.com/section/findall">https://mvc-app-group07.herokuapp.com/section/findall</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/section/findone/1001">https://mvc-app-group07.herokuapp.com/section/findone/1001</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/section/findone/1002">https://mvc-app-group07.herokuapp.com/section/findone/1002</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/section/findone/1003">https://mvc-app-group07.herokuapp.com/section/findone/1003</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/section/findone/1004">https://mvc-app-group07.herokuapp.com/section/findone/1004</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/newpage">https://mvc-app-group07.herokuapp.com/newpage</a>
          </li>
        </ol>
        <br>
      </div>
    </div>
    <div class=row>
      <div class="col col-md-3">

        <h5>instructor: Test Requests to GET a view</h5>

        <ol>
          <li> <a href="https://mvc-app-group07.herokuapp.com/instructor">https://mvc-app-group07.herokuapp.com/instructor</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/instructor/create">https://mvc-app-group07.herokuapp.com/instructor/create</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/instructor/edit/8">https://mvc-app-group07.herokuapp.com/instructor/edit/8</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/instructor/delete/7">https://mvc-app-group07.herokuapp.com/instructor/delete/7</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/instructor/details/6">https://mvc-app-group07.herokuapp.com/instructor/details/6</a>
          </li>
        </ol>
      </div>

      <div class="col col-md-3">
        <h5>course: Test Requests to GET a view</h5>

        <ol>
          <li> <a href="https://mvc-app-group07.herokuapp.com/course">https://mvc-app-group07.herokuapp.com/course</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/course/create">https://mvc-app-group07.herokuapp.com/course/create</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/course/edit/11">https://mvc-app-group07.herokuapp.com/course/edit/11</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/course/delete/14">https://mvc-app-group07.herokuapp.com/course/delete/14</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/course/details/16">https://mvc-app-group07.herokuapp.com/course/details/16</a>
          </li>
        </ol>
      </div>
      <div class="col col-md-3">
        <h5>student: Test Requests to GET a view</h5>

        <ol>
          <li> <a href="https://mvc-app-group07.herokuapp.com/student">https://mvc-app-group07.herokuapp.com/student</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/student/create">https://mvc-app-group07.herokuapp.com/student/create</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/student/edit/94">https://mvc-app-group07.herokuapp.com/student/edit/94</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/student/delete/91">https://mvc-app-group07.herokuapp.com/student/delete/91</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/student/details/97">https://mvc-app-group07.herokuapp.com/student/details/97</a>
          </li>
        </ol>
      </div>
      <div class="col col-md-3">

        <h5>section: Test Requests to GET a view</h5>

        <ol>
          <li> <a href="https://mvc-app-group07.herokuapp.com/section">https://mvc-app-group07.herokuapp.com/section</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/section/create">https://mvc-app-group07.herokuapp.com/section/create</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/section/edit/1006">https://mvc-app-group07.herokuapp.com/section/edit/1006</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/section/delete/1007">https://mvc-app-group07.herokuapp.com/section/delete/1007</a>
          </li>
          <li> <a href="https://mvc-app-group07.herokuapp.com/section/details/1003">https://mvc-app-group07.herokuapp.com/section/details/1003</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  </div>
</main>

</div>
</div>
</div>